{% extends 'base.html' %}
{% block content %}

<h1>Mental Health Tracker</h1>

<h5>Nama Aplikasi: </h5>
<p>{{namaAplikasi}}</p>

<h5>nama: </h5>
<p>{{nama}}</p>

<h5>kelas: </h5>
<p>{{kelas}}</p> 

{% if not shoes_entries %}
<p>Belum ada data shoes pada e-commerce.</p>
{% else %}
<table>
  <tr>
    <th>Shoes Name</th>
    <th>Time</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data shoes di bawah baris ini 
  {% endcomment %} 
  {% for shoes_entry in shoes_entries %}
  <tr>
    <td>{{shoes_entry.name}}</td>
    <td>{{shoes_entry.time}}</td>
    <td>{{shoes_entry.description}}</td>
    <td>{{shoes_entry.price}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_shoes_entry' %}">
  <button>Add New Shoes Entry</button>
</a>

{% endblock content %}